{% extends "layout.html" %} 

{% block button %}
    <a class="back-btn" href="{{ url_for('index') }}">
        <i class="fas fa-caret-left"></i>
        Back
    </a>
{% endblock %}

{% block content %}
    <section class="header">
        <h1>Josh Witherell</h1>
        <p>Currently looking to begin a career in Python development.</p>
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>More About Me</h2>
        <p>
            I have graduated from Treehouse's Python TechDegree program, 
            with an exceeds expectations on each project.
        </p>
        <p>
            I am currently the Center Store Manager for a family-owned grocery store 
            voted best store in Michigan in 2022.
            I am in charge of pricing, inventory management and display planning, 
            as well as directing and guiding our frozen manager in his department. 
        </p>
        <p>
            My interests include programming, personal finance, baseball 
            and most things involving numbers or analytics.
        </p>
        <a href="https://docs.google.com/document/d/1Yh5gXPR_nKkvWP5bvuhhJvTYfnQ9t9Rwt_1NQFdbVmI/edit#heading=h.j7pcx6utozo4"><i class="fa-solid fa-file"></i>Resumé</a>
    </section>

{% endblock %}
