{% extends "layout.html" %}

{% block button %}
    <a class="add-project-btn" href="{{ url_for('create_project') }}" alt="Create Project">
        <i class="fas fa-plus"></i>
        Add Project
    </a>
{% endblock %} 

{% block content %} 
    <section id="projects">
        <h2>Projects</h2>
        {% for project in projects %}
        <div id="project-list">
            <div id="project1" class="a-project">
            <h3><a href="{{ url_for('project', id=project.id) }}">{{ project.title }}</a></h3>
            <a href="{{ project.github_link }}" class="github-btn">
                View on GitHub    
            </a>
                <p>Skills: {{ project.skills_used }}</p>
                <p>{{ project.description }}</p>
            </div>
        </div>
        {% endfor %} 
    </section>
{% endblock %}