<!DOCTYPE HTML>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Project Portfolio</title>
        <meta name="description" content="A portfolio of my completed projects.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://kit.fontawesome.com/3aab5bf412.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>
        <section class="main-header">
            <a href="{{ url_for('index') }}">
                <h1 class="header">
                    Project Portfolio
                </h1>
            </a>
            {% block button %}
            {% endblock %} 
        </section>
        {% block content %}
        {% endblock %}
    </body>
</html>