{% extends "layout.html" %} 

{% block button %}
    <a class="add-project-btn" href="{{ url_for('add_project') }}" alt="Add Project">
        <i class="fas fa-plus"></i>
        Project
    </a>
{% endblock %} 

{% block content %}
    <section id="project-data">
        <div id="project-name">
            <h2>Title</h2>
            <p>{{ project.title }}</p>
        </div>
        <div id="left-col">
           <div>
                <h2>Date Finished</h2>
                <p>{{ project.date_finished</p>
           </div>
           <div>
                <h2>Description</h2>
                <p>{{ project.description }}</p>
           </div>
        </div>
        <div id="right-col">
            <div>
                <h2>Skills Practiced</h2>
                <p>{{ project.skills_used</p>
            </div>
            <div>GitHub Link</div>
            <p>{{ project.github_link }}</p>
        </div>
    </section>